<link rel="stylesheet" href="/static/css/transcribe-tailwind.css">
  <link rel="stylesheet" href="/static/css/tokens.css?v=20260902-control-height">
  <link rel="stylesheet" href="/static/css/components.css?v=20260902-shared-fields">
<script src="/static/vendor/lucide/1.8.0/lucide.min.js"></script>
<script src="/static/vendor/onnxruntime-web/1.22.0/ort.wasm.min.js" defer></script>
<script src="/static/vendor/vad-web/0.0.29/bundle.min.js" defer></script>
<link rel="stylesheet" href="/static/css/transcribe.css?v=20260830-template-suggestion-preference">
